<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.blog.board.mapper.BoardMapper">

    <!-- 게시글 전체 조회 -->
    <select id="getAllBoardList" resultType="com.back.blog.board.domain.BoardDomain">
        SELECT
            board_num,
            user_num,
            category_num,
            board_title,
            board_conent,
            board_create_at,
            board_update_at,
            board_state
        FROM
            BOARD
    </select>

    <!-- 메인 페이지용 게시글 조회 -->
    <select id="getMainBoardList" resultType="com.back.blog.board.domain.MainBoard">
        SELECT
            board_num,
            u.user_num,
            u.user_name,
            board_title,
            board_create_at,
            board_update_at,
            board_state,
            (SELECT COUNT(boardFav_num) FROM BOARDFAV f WHERE f.board_num = b.board_num) AS boardFav_cnt,
            (SELECT COUNT(boardHit_num) FROM BOARDHIT h WHERE h.board_num = b.board_num) AS boardHit_cnt
        FROM
            BOARD b
        JOIN
            USER u
        ON
            b.user_num = u.user_num
        ORDER BY board_create_at DESC
        LIMIT #{count}
    </select>
</mapper>